@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --th-primary: #363636;
  --th-secondary: white;
  --th-darkgray: #4d4d4d;
  --th-red: #ff0000;
  --th-green: #008000;
  --th-lightgrayText: #b5b5b5;
  --th-lightgrayBorder: #e7e7e7;
}
