@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --th-primary: #363636;
  --th-primary-text: white;
  --th-secondary: white;
  --th-hover: #4d4d4d;
  --th-text: black;
}

.cartNumber {
  background-color: red;
  color: white;
  border-radius: 50%;
  min-width: 1rem;
  width: auto;
  text-align: center;
  font-size: 0.625rem;
}

.logo {
  color: red;
}
